Codice <input type="text" placeholder="codice" [(ngModel)]="prodotto.codice">
Descrizione <input type="text" placeholder="descrizione" [(ngModel)]="prodotto.descrizione">
Prezzo <input type="number" placeholder="prezzo" [(ngModel)]="prodotto.prezzo">
<button (click)="aggiungi()">Aggiungi</button>
<br>
<br>
Cerca <input type="text" placeholder="cerca" [(ngModel)]="criterioRicerca">
<button (click)="ricerca()">Cerca</button>
<br>
<br>
<table *ngIf="prodotti.length > 0">
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Prezzo con IVA</th>
    <th>Azioni</th>
  </tr>
  <tr *ngFor="let p of prodotti">
    <td>{{p.codice}}</td>
    <td>{{p.descrizione}}</td>
    <td>{{p.prezzo}}</td>
    <td>{{p.prezzo * 1.22}}</td>
    <td>
      <button (click)="cancella(p)">X</button>
      <button (click)="calcolaSconto(p)">Sconto 30%</button>
    </td>
  </tr>
</table>
<br>
<table *ngIf="prodottoSconto">
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Prezzo con IVA</th>
    <th>Prezzo scontato 30%</th>
  </tr>
  <tr>
    <td>{{prodottoSconto.codice}}</td>
    <td>{{prodottoSconto.descrizione}}</td>
    <td>{{prodottoSconto.prezzo}}</td>
    <td>{{prodottoSconto.prezzo*1.22}}</td>
    <td>{{prodottoSconto.prezzo*1.22*0.7}}</td>
  </tr>
</table>


